@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Red+Hat+Display&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    flex: 1;
    text-align: right;
    margin: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-family: "Red Hat Display", Verdana, sans-serif;
}
nav a:hover {
    background-color: #7b7d76;
    color: white;
    }
nav input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
}
#laptop-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#laptop-msg h1 {
    margin-top: 70px;
    text-align: center;
    color: #FDB7B9;
    font-size: 90px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
#laptop-msg h4 {
    text-align: center;
    color: white;
    font-size: 60px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.9s linear forwards;
}
@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
main section {
    text-align: center;
}
body {
    background-color: #fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
}
.phone-card {
    background-color: #FDB7B9;
    margin-top: 270px;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 25px;
}
.phone-card h2 {
    color: #C17779;
    font-family: "Red Hat Display", Verdana, sans-serif;
}
.phone-card p {
    color: white ;
    font-family: Merriweather, Georgia , serif;
    font-size: .9em;
    padding-bottom: 15px;
}
footer {
    background-color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p {
    font-size: 1.2em;
    color: white;
    font-family: "Red Hat Display", Verdana, sans-serif;
}
footer p a:hover {
    text-decoration: underline;
    color: white
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color:#C17779;
    font-family: "Red Hat Display", Verdana, sans-serif;
    font-size: 3em;
    margin-top: 10px;
}
#laptop {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#laptop-img {
    width: 100%;
}
#laptop-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.logo {
    width: 140px;
    margin-left: 50px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-grid {
    font-family: Merriweather, Georgia , serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.phone {
    height: 500px;
    background-color: #F7E3DB;
    margin-top: 300px;
    margin-bottom: 10px;
    grid-column: 2/10;
    grid-row: 7/8;
    border: 10px solid #d38c8f;
    border-radius: 25px;
}
.phone p {
    margin-top: 130px;
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: #C17779;
    font-family: Merriweather, Georgia , serif;;
}
main section img {
    box-sizing: border-box;
}
.phone-img {
    width: 100%;
    margin-top: 170px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    border: 10px solid #F7E3DB;
    border-radius: 25px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #C17779;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

/* Page 2 */

#computers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#computer-img {
    width: 100%;
}
#computer-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.laptop-title {
    color:#C17779;
    font-family: "Red Hat Display", Verdana, sans-serif;
    font-size: 3em;
    margin-top: 10px;
}
#laptops-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#laptops-msg h1 {
    margin-top: 70px;
    text-align: center;
    color: #FDB7B9;
    font-size: 90px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
    
}
#laptops-msg h4 {
    text-align: center;
    color: white;
    font-size: 60px;
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.9s linear forwards;

}
@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.info-grid {
    font-family: Merriweather, Georgia , serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.idea-img {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 200px;
    border: 10px solid #F7E3DB;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.idea-card {
    grid-column: 4/10;
    grid-row: 2/3;
    margin-top: 200px;
}
.design-img {
    width: 300%;
    grid-column: 4/6;
    grid-row: 5/6;
    margin-top: 300px;
    border: 10px solid #F7E3DB;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #6f7364;
}
.design-card {
    grid-column: 2/3;
    grid-row: 5/6;
    margin-top: 250px;
}
.idea-card h2 {
    position: relative;
    font-size: 5vw;
    color: white;
    -webkit-text-stroke: 0.3 vw grey;
    text-transform: uppercase;
    font-family: "Red Hat Display", Verdana, sans-serif;
    
}
.idea-card h2::before {
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #C17779;
    -webkit-text-stroke: 0vw white;
    border-right: 2px solid #C17779;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%, 10%, 100% 
    {
      width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}
.design-card h2 {
    position: relative;
    font-size: 5vw;
    color: white;
    -webkit-text-stroke: 0.3 vw grey;
    text-transform: uppercase;
    font-family: "Red Hat Display", Verdana, sans-serif;
}
.design-card h2::before {
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #C17779;
    -webkit-text-stroke: 0vw white;
    border-right: 2px solid #C17779;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate {
    0%, 10%, 100% 
    {
      width: 0;
    }
    70%, 90%
    {
        width: 100%;
    }
}



  